ul{
    list-style: none;
    counter-reset: list;
    color: var(--articleText);
    position: relative;
    padding: 15px 0 30px 0px;
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    margin: 0 auto;
    font-size: 18px;
  
    width: 100%;
    max-width: 800px;
}
li{
    position: relative;
    padding-bottom: 15px;
    padding-left: 20px;
}
ul li ul{
    padding: 10px 0;
}

ul li::before{
    width: 3rem;
    display: inline-block;
    position: absolute;
    color: var(--articleText);
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    height: 8px;
    width: 8px;
    background: var(--articleText);
}

ol{
    list-style: none;
    counter-reset: list;
    color: var(--articleText);
    position: relative;
    padding: 15px 0 30px 0px;
    margin: 0 auto;
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    font-size: 18px;
    width: 100%;
    max-width: 800px;
}
ol li{
    position: relative;
    padding-bottom: 15px;
}

ol li::before {
    width: 3rem;
    display: inline-block;
    position: absolute;
    color: var(--articleText);
    counter-increment: list;
    content: counter(list) ".";
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: -0.3rem;
    font-size: 2rem;
}
