.section{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; 
    overflow: hidden;
}

.narrow{
    p{
        /*TABLET*/
        @media screen and (max-width: 735px){
            padding: 0 2rem;
            max-width: 527px;
        }
    }
    
}